<div class="wrapper">
    <div class="menu-container">
        <div style=" height: var(--mat-toolbar-standard-height, 64px);"></div>
        <div class="search-wrapper">
            <mat-form-field class="example-form-field">
                <mat-label>Stadt</mat-label>
                <input (blur)="cityInputChanged($event)" required matInput type="text" 
                [matAutocomplete]="cityComplete"
                [(ngModel)]="city"
            >
                <mat-autocomplete #cityComplete="matAutocomplete">
                    @for (city of overpass.listOfCities(); track $index) {
                        <mat-option [value]="city">
                            {{city}}
                        </mat-option>
                    }
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field  class="example-form-field">
                <mat-label>Stadtteil</mat-label>
                <input required matInput type="text"
                [matAutocomplete]="districtComplete" [(ngModel)]="district">
                <mat-autocomplete #districtComplete="matAutocomplete">
                    @for (district of overpass.districtsByCity().get(city); track $index) {
                    <mat-option [value]="district">
                        {{district}}
                    </mat-option>
                    }
                </mat-autocomplete>
            </mat-form-field>
            <button matSuffix matIconButton (click)="submit()"><mat-icon>search</mat-icon></button>
        </div>
        <p>Anzahl Pizzaläden:
        @if(overpass.pizzaPlacesLoaded()){
            {{overpass.numberOfPizzaPlaces()??"Fehlerhafte Anfrage"}}
            } @else {
                <div style="display: inline-block; padding-left: 4px;"><mat-spinner [diameter]="14"></mat-spinner></div>
            }
            </p>
    </div>
    <div class="map-container">
        <mat-toolbar>
            <span>Ergebnisse</span>
            <span class="spacer"></span>
            <div style="margin: 16px 0">
                <mat-button-toggle-group (change)="changeLayout($event)" name="fontStyle" aria-label="View Style">
                    <mat-button-toggle value="list" checked="true"><mat-icon>list</mat-icon></mat-button-toggle>
                    <mat-button-toggle value="grid"><mat-icon>grid_view</mat-icon></mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </mat-toolbar>
        
        @if(overpass.pizzaPlacesLoaded()){
            @if(layout() == "list"){
                <mat-accordion>
                    @for (pizzaPlace of overpass.pizzaPlaces(); track $index) {
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title> {{pizzaPlace.name??"-"}} </mat-panel-title>
                                <mat-panel-description> {{pizzaPlace.cuisine??"-"}} </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p> Id: {{pizzaPlace.id??"-"}} </p>
                            <p> Longitude: {{pizzaPlace.lon??"-"}} </p>
                            <p> Latitude: {{pizzaPlace.lat??"-"}} </p>
                      
                        </mat-expansion-panel>
                    }
                </mat-accordion>
            } @else {
                <div class="card-grid">
                    @for (pizzaPlace of overpass.pizzaPlaces(); track $index) {
                        <mat-card class="card">
                            <mat-card-header>
                                <mat-card-title>{{pizzaPlace.name}}</mat-card-title>
                                <mat-card-subtitle>{{pizzaPlace.cuisine}}</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <p> Id: {{pizzaPlace.id??"-"}} </p>
                                <p> Longitude: {{pizzaPlace.lon??"-"}} </p>
                                <p> Latitude: {{pizzaPlace.lat??"-"}} </p>
                            </mat-card-content>
                        </mat-card>
                    }
                </div>
            }
        } @else {
        <mat-spinner></mat-spinner>
        }
        <div>

        </div>
    </div>
</div>