.wrapper{
    display: flex;
    width: 100%;
    height: 100%;
}
.menu-container{
    height: 100%;
    padding: 0 16px;
    width: fit-content;
    // border-right: solid 1px var(--mat-sys-outline);
    background-color: var(--mat-sys-surface-dim);
    border-radius: 8px;
}

.search-wrapper > *{
    padding-right: 16px;
}

.map-container{
    min-width: 61vw;
    height: 100%;
    padding: 0 16px;
    overflow: auto;
    flex-grow: 1;
    background-color: var(--mat-sys-surface);
}
.spacer{
    flex: 1 1 auto;
}